@import "tailwindcss";
@import "primereact/resources/themes/lara-light-cyan/theme.css"
  layer(primereact);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

#page-home-background {
  background: url("../assets/Madre\ Teresa.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100dvh;
}

#page-login-background {
  background: url("../assets/Madre\ Teresa.jpg") no-repeat center center;
  background-size: cover;
  height: 100dvh;
}

#sobre-container {
  align-items: start;
}
